body {
  font-size: 100%;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: block;
  background: #fff;
  color: #191919;
  letter-spacing: 1px;
}

header {
  position:fixed;
  top:0;
  left:0;
  background: #191919;
  height: 120px;
  min-width: 1024px;
  width: 100%;
  display: block;
  z-index: 2;
}

.base {
  width: 960px;
  margin: 0 auto;
  padding: 0 32px;
  display: block;
}

div {
  display: block;
}

header .lg {
  position: relative;
  float: left;
}

header .lg-small {
  visibility: hidden;
  position: absolute;
  left: 5px;
  top: 5px;
}

header .lg-big {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 28px;
}

/*
.icon-menu {
  font-size: 2.625em;
  float: right;
  color: #fff;
  display: none;
}
.icon-menu-1 {
  display: block;
  visibility: hidden;
}

.icon-cancel {
  display: none;
  visibility: hidden;
}
*/

.navbar a:hover {
  color: #bcbcbc;
}

.navbar a:active {
  color: #636363;
}

header nav{
  float: right;
  display: block;
  margin-right: 15px;
  margin-top: 44px;
}

header nav a{
  text-decoration: none;
  display: block;
  float: left;
  color: #fff;
  font-size: 1.2em;
  padding: 0 25px;
  transition: all 0.3s ease;
}

input[type=checkbox]{
    display: none;
}

label {
  visibility: hidden;
}

h1 {
  margin-top: 1.625em;
  text-align: center;
  display: block;
  font-size: 6em;
  animation: fadein 2s;
}

h1 span {

  color: #9c4141;
}

@keyframes fadein {
  from { opacity: 0;}
  to {opacity: 1;}
}

#me {
  min-width: 1024px;
  width: 100%;
  display: block;
  height: 50em;
  background-color: #9c4141;
}

h2 {
  display: block;
  float: right;
  color: #fff;
  font-size: 4em;
}

#me span {
  color: #191919;
}

.icon-down-circled {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #9c4141;
  font-size: 6em;
  width: 124px;
  transition: all 0.3s ease;
  animation: size 2s 1;
}

#icon_down {
  max-width: 124px;
  margin: 0 auto;
  margin-bottom: 4em;
}

@keyframes size {
  0% {font-size: 0;}
  100% {font-size: 6em;}
}

.icon-down-circled:hover {
  color: #191919;
}

.icon-down-circled:active {
  text-shadow: 0px 1px 1px #191919;
}

figure {
  margin: 0;
  display: block;
}

.myphoto {
  float: left;
  padding-top: 3.12em;
}

#skills {
  min-width: 1024px;
  width: 100%;
  display: block;
  height: 50em;
  background-color: #191919;
}

.soft, .hard {
  font-size: 2.6em;
  display: block;
  margin: 0;
  color: #fff;
  list-style-type: none;
  margin-top: 180px;
}

.soft li, .hard li {
  margin-bottom: 0.825em;
  text-shadow: 2px 2px 3px #9c4141;
}

.soft li:before, .hard li:before {
  content: "❑";
  margin-right: 20px;
  font-size: 0.725em;
  color: #9c4141;
  text-shadow: none;
}

.hard {
  float: left;
}
.soft {
  float: right;
}
/*
.htmlcss img{
  margin-top: 8.375em;
  display: block;
  position: absolute;
  text-align: center;
  width: auto;
  opacity: 0.05;
}
*/

#portfolio {
  min-width: 1024px;
  width: 100%;
  display: block;
  height: 50em;
  background-color: #fff;
}

#contacts {
  min-width: 1024px;
  width: 100%;
  display: block;
  height: 50em;
  background-color: #9c4141;
}

footer {
  min-width: 1024px;
  width: 100%;
  display: block;
  color: #fff;
  height: 60px;
  background-color: #191919;
}

footer p{
  padding-top: 1.37em;
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
}

figure.human {
  display: block;
  float: left;
}

#contacts h2 {
  margin-top: 1.325em;
}

#contacts i {
  color: #fff;
}

.icon-mail-alt {
  font-size: 6em;
  float: left;
  margin-left: 0.725em;
  transition: all 0.2s ease;
}

.icon-facebook-squared {
  font-size: 6em;
  float: right;
  margin-right: 0.725em;
  transition: all 0.2s ease;
}

.icon-up-circled {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 6em;
  width: 124px;
  transition: all 0.3s ease;
}

#icon_up {
  max-width: 124px;
  margin: 0 auto;
}

.human {
  margin-top: 8em;
}

#fb .icon-facebook-squared:hover {
  color: #3b5998;
}

#fb .icon-facebook-squared:active {
  color: #2a4887;
}

#mail .icon-mail-alt:hover {
  color: #c4904c;

}

#mail .icon-mail-alt:active {
  color: #a67637;
}

#icon_up .icon-up-circled:hover {
  color: #191919;
}


#icon_up .icon-up-circled:active {
  text-shadow: 0px -1px 1px #191919;
}

#portfolio h2 {
  float: left;
  color: #9c4141;
}

#portfolio p {
  clear: both;
  text-align: center;
  display: block;
  color: #191919;
  font-size: 3em;
}

#contacts .base {
  height: 100%
}

div #icon_up {
  clear: both;
}
